<div class="container">
  <div class="content">
    <!-- Display images -->
    <app-media-display [mediaList]="carouselItems"></app-media-display>

    <div class="media">
      <div class="">
        <i class="fa-solid fa-circle-user" style="font-size: 3rem; color: #d1b1cb;"></i>
      </div>
      <div class="media-body">
        <label>{{artworks.userName}}</label>
        <span>{{ artworks.createdAt | date:'dd MMM yyyy' }}</span>
      </div>
    </div>
    <div class="d-flex flex-row">
      <h1>{{ artworks.title }}</h1>
      <p *ngIf="artworks.postedBy==this.userService.currentUser._id" style="color: black;">
        <i class="fa-regular fa-pen-to-square fa-lg m-2" (click)="openDialogForUpdate(artworks)"></i>
        <span class="mx-2">Edit | </span>
        <i class="fa-solid fa-trash fa-lg m-2" (click)="openDialogForDelete(artworks)"></i>
        <span class="mx-2">Delete</span>
      </p>
    </div>
    <p>{{ artworks.content }}</p>
    <!-- You can display the full content here -->

    <!-- Comments Section -->
    <div class="comments-section">
      <h3><b>Comments</b></h3>
      <p *ngIf="this.artworks.comments.length==0" class="text-muted">no comments</p>
      <ul>
        <li *ngFor="let comment of artworks.comments">
          <div class="d-flex align-items-center">
            <strong>{{ comment.userName }}:</strong>
            <span>{{ comment.text }}</span>
            <!-- Spacer to push the delete icon to the end -->
            <span class="flex-grow-1"></span>
            <!-- Show delete icon if comment userId matches logged-in user ID -->
            <ng-container *ngIf="comment.userId === userService.currentUser._id">
              <i class="fa-solid fa-trash-alt fa-lg ml-2" (click)="deleteComment(comment)"></i>
            </ng-container>
          </div>
        </li>
      </ul>
      <div class="d-flex p-3 flex-column row" [formGroup]="commentForm">
        <mat-form-field>
          <mat-label>Comment</mat-label>
          <textarea formControlName="text" matInput></textarea>
        </mat-form-field>
        <button class="col-2 btn btn-primary me-3" type="submit" (click)="addComment()">comment</button>
      </div>

    </div>
  </div>
