.bg2{
  background-color: #d1b1cb;
  color: white;
}
.bg3{
  background-color: #7c616c;
  color: white;
}
.bg1{
  background-color:#DDCAD9;
  color: #7c616c;
}
.card{
  max-width: 20rem;
  max-height: fit-content;
}
