<div class="container bg-white m-3">
  <h1 class="text-center">workout Recommendation</h1>
  <form class="d-flex flex-wrap" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3 col-md-4 p-2">
      <mat-form-field class="w-100">
        <input matInput type="number" formControlName="weight" placeholder="Weight">
      </mat-form-field>
    </div>

    <div class="mb-3 col-md-4 p-2">
      <mat-form-field class="w-100">
        <input matInput type="number" formControlName="height" placeholder="Height">
      </mat-form-field>
    </div>

    <div class="mb-3 col-md-4 p-2">
      <mat-form-field class="w-100">
        <input matInput type="number" formControlName="age" placeholder="Age">
      </mat-form-field>
    </div>

    <div class="mb-3 col-md-12">
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
  </form>
</div>
