<div class="container mt-3 d-flex flex-row justify-content-between">
  <div class="card" (click)="redirectPage('recommendworkout')">
    <img src="../../../assets/workout.svg" alt="Placeholder Image">
    <div class="card-content">
      <h3>Workout Recommendations</h3>

    </div>
  </div>
  <div class="card" (click)="redirectPage('searchworkout')">
    <img src="../../../assets/workout22.svg" alt="Placeholder Image">
    <div class="card-content">
      <h3>Search Workout</h3>
    </div>
  </div>
</div>
