<div class="container">
  <div class="content">
    <!-- Display images -->
    <app-media-display [mediaList]="carouselItems"></app-media-display>

    <div class="media">
      <div class="">
        <i class="fa-solid fa-circle-user" style="font-size: 3rem; color: #d1b1cb;"></i>
      </div>
      <div class="media-body">
        <label>{{artworks.userName}}</label>
        <span>{{ artworks.createdAt | date:'dd MMM yyyy' }}</span>
      </div>
    </div>
    <h1>{{ artworks.title }}</h1>
    <p>{{ artworks.content }}</p>
    <!-- You can display the full content here -->

    <!-- Comments Section -->
    <div class="comments-section">
      <h3>Comments</h3>
      <p *ngIf="this.artworks.comments.length==0" class="text-muted">no comments</p>
      <ul>
        <li *ngFor="let x of this.artworks.comments">
          <strong>{{ x.userName }}:</strong> {{ x.text }}
        </li>
      </ul>
      <div class="d-flex p-3 flex-column" [formGroup]="commentForm">
        <mat-form-field>
          <mat-label>Comment</mat-label>
          <textarea formControlName="text" matInput ></textarea>
        </mat-form-field>
        <button class="btn btn-primary me-3" type="submit" (click)="addComment()">Submit</button>
      </div>

      <!-- Share Section -->
      <div class="share-section">
        <h3>Share</h3>
        <!-- Add share options here -->
      </div>
    </div>
  </div>
