<div class="m-3">
  <div class="row gutters">
    <div class="col-lg-3">
      <div class="card h-100">
        <div class="card-body">
          <div class="account-settings">
            <div class="user-profile">
              <div class="user-avatar">
                <img
                  src="https://media.istockphoto.com/id/1194645897/vector/portrait-of-a-strong-beautiful-woman-in-profile-with-blond-hair.jpg?s=612x612&w=0&k=20&c=9Z02rn2gyyxGicLuqrAV1fCKZndMRS5FzgRn93zoX1Y="
                  alt="Maxwell Admin">
              </div>
              <h5 class="user-name">{{this.loggedInUser.name}}</h5>
              <h6 class="user-email">{{this.loggedInUser.email}}</h6>
            </div>
            <div class="about">
              <h5 class="headers">About</h5>
              <p>{{this.loggedInUser.about}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="card h-100">
        <div class="card-body" [formGroup]="addForm">
          <h2 class="mb-2 headers">Personal Details</h2>
          <div class="row gutters">
              <mat-form-field class="col-lg-6">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" />
              </mat-form-field>
              <mat-form-field class="col-lg-6">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" />
              </mat-form-field>
          </div>
          <div class="row gutters">
            <mat-form-field class="col-lg-6">
              <mat-label>Phone Number</mat-label>
              <input matInput formControlName="phoneNumber" />
            </mat-form-field>
            <mat-form-field class="col-lg-6">
              <mat-label>Age</mat-label>
              <input matInput formControlName="age" />
            </mat-form-field>
          </div>
          <div class="row gutters">
            <mat-form-field class="col-lg-6">
              <mat-label>Weight</mat-label>
              <input matInput formControlName="weight" />
            </mat-form-field>
            <mat-form-field class="col-lg-6">
              <mat-label>Height</mat-label>
              <input matInput formControlName="height" />
            </mat-form-field>
          </div>
          <h2 class="mb-2 headers">About</h2>
          <div class="row gutters">
            <mat-form-field class="col-lg-9">
              <mat-label>About</mat-label>
              <input matInput formControlName="about" />
            </mat-form-field>
          </div>
          <h2 class="mb-2 headers">Address Details</h2>
          <div class="row gutters">
            <mat-form-field class="col-lg-6">
              <mat-label>Street</mat-label>
              <input matInput formControlName="street" />
            </mat-form-field>
            <mat-form-field class="col-lg-6">
              <mat-label>City</mat-label>
              <input matInput formControlName="city" />
            </mat-form-field>
          </div>
          <div class="row gutters">
            <mat-form-field class="col-lg-6">
              <mat-label>State</mat-label>
              <input matInput formControlName="state" />
            </mat-form-field>
            <mat-form-field class="col-lg-6">
              <mat-label>Zip Code</mat-label>
              <input matInput formControlName="zipCode" />
            </mat-form-field>
          </div>

          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="text-right">
                <button type="button" id="submit" name="submit" class="btn btn-primary" (click)="updateUser()">Update</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
