.bg2{
  background-color: #d1b1cb;
  color: white;
}
.bg3{
  background-color: #7c616c;
  color: white;
}
.bg1{
  background-color:#DDCAD9;
  color: #7c616c;
}

.recipe-container {
  display: flex;
  flex-wrap: wrap;
}

.recipe-card {
  flex: 1 0 600px; /* Ensure all cards have the same width */
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.recipe {
  padding: 10px;
}

.recipe-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* Adjust other styles as needed */
