.bg2{
  background-color: #d1b1cb;
  color: white;
}
.bg3{
  background-color: #7c616c;
  color: white;
}
.bg1{
  background-color:#DDCAD9;
  color: #7c616c;
}
.weekly-plan {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

.day {
  margin-bottom: 20px;
}

.day h3 {
  margin-bottom: 10px;
  color: #333;
}

.meal-list {
  list-style: none;
  padding: 0;
}

.meal-list li {
  margin-bottom: 15px;
  font-size: 16px;
  color: #666;
}

.meal-category {
  font-weight: bold;
  color: #333;
}

.meal-name {
  margin-left: 10px;
  color: #0066cc;
}

.meal-description {
  margin-left: 10px;
}


