<div class="card h-100">
  <div class="card-image">
    <img
      src={{cardData.images.url}}
      onerror="this.onerror=null; this.src='../../assets/no-img.jpg';" style="height:300px ;object-fit:cover;"
      class="card-img-top" alt="...">
    <div class='overlay'>
      <div class="icons">
        <i *ngIf="this.userService.currentUser.role=='admin'" matTooltip="edit" matTooltipPosition="above"
          class="fa-regular fa-pen-to-square fa-2x" (click)="openDialogForUpdate(cardData)"></i>
        <i *ngIf="this.userService.currentUser.role=='admin'" matTooltip="delete" matTooltipPosition="above"
          class="fa-solid fa-trash fa-2x" (click)="openDialogForDelete(cardData)"></i>
        <a [routerLink]="'details/' + cardData._id">
          <i matTooltip="More" matTooltipPosition="above" class='fas fa-angle-double-right fa-2x'></i>
        </a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <h4 class="card-title" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{{cardData.title}}
    </h4>
  </div>
</div>
