<div class="container mt-3 d-flex flex-row justify-content-between">
  <div class="card" (click)="redirectPage('macro')">
    <img src="../../../assets/undraw_the_search_s0xf.svg" alt="Placeholder Image">
    <div class="card-content">
      <h3>Macro Calculator</h3>

    </div>
  </div>
  <div class="card" (click)="redirectPage('dietRecommend')">
    <img src="../../../assets/diet.svg" alt="Placeholder Image">
    <div class="card-content">
      <h3>Diet recommendation</h3>
    </div>
  </div>
</div>
